# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================


# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



temp/
cache/
log/error.log
*.neon
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
log/exception-2015-04-27-21-19-05-7cccf25b1d74f71a8289fbc67c86a3af.html
www/images/obrazek2.gif
www/images/obrazek.jpg
www/images/obrazek3.jpg
