{* Latte template *}

{block content}


{if $user->isInRole('admin')}
    <a n:href="Produkty:novy">Novy produkt</a>
{/if}
<div n:foreach="$produkty as $produkt">
    <img src="{$obrazky[$produkt->id_produktu]|dataStream}" >
    {$produkt->nazev}
    {$produkt->popis}
    {$produkt->cena} Kč
    {$produkt->id_materialu}
    {$produkt->mnozstvi}
    {if $user->isLoggedIn()}
        {form mnozstviForm}
        {label $form['mnozstvi']}{input $form['mnozstvi']}{/label}
        {input $form['id_produktu'], value=>$produkt->id_produktu}
        {input $form['send']}        
    {/form}
{/if}
{if $user->isInRole('admin')}
    <a n:href="Produkty:edit $produkt->id_produktu">Editovat</a>
    <a n:href="Produkty:delete $produkt->id_produktu">Smazat</a>
{/if}
</div>