

{block content}
{if $user->isInRole('admin')}
    <header>
        <nav>
            <a n:href="Produkty:default">Zpátky</a>
        </nav>  
    </header>

    <article>
        <h2>Upravení stávajícího produktu</h2>
        {control produktForm}
    </article>
{/if}