{block content}
<header>
    <nav>
            <!--<a n:href="Aktuality:nova">Nova aktualita</a>-->
    </nav>  
</header>
<article>
    <h2>Přihlášení</h2>

    {control signInForm}
    <a n:href="Sign:forgotPass">Zapomenuté heslo</a>

</article>

{* or use {include '../components/form.latte', form => signInForm} *}
