{* Latte template *}

{block content}

<div n:foreach="$kosiky as $kosik">
    Datum vytvoreni: {$kosik->datum_vytvoreni|date:'j. n. Y G:i'}<br>
    Pocet produktu v kosiku: {$kosik->produkty}<br>
    Celkova cena kosiku: {$kosik->suma} 
    <hr>
</div>