{* Latte template *}

{block content}
<header>
    <nav>
            <!--<a n:href="Aktuality:nova">Nova aktualita</a>-->
    </nav>  
</header>
<article>
    <header>
        <h1>Objednani kosiku</h1>
    </header>

    {control objednavkaForm}

</article>