{* Latte template *}

{block content}
{if $user->isInRole('admin')}
    <header>
        <nav>
            <a n:href="Materialy:default">Zpátky</a>
        </nav>  
    </header>

    <article>
        <h2>Vytvoření nového materialu</h2>
        {control materialForm}
    </article>
{/if}