{* Latte template *}

{block content}
<header> 
</header>
<article>
    <header>
        <h1>Hlavní strana</h1>
    </header>
    <p>Stránky nejsou v provozu. Očekávaný datum spuštění je v červnu.</p>
</article>