{* Latte template *}

{block content}
<header>
    <nav>
    </nav>  
</header>
<article>
    <header>
        <h1>Hlavní strana</h1>
    </header>
    <p>Stránky nejsou v provozu. Očekávaný datum spuštění je v květnu.</p>
</article>