{* Latte template *}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bio-Culture</title>
    </head>

    <body>
        <header>
            Dobrý den.
            Děkujeme za vaši registraci. Klikněte prosím na následujíci odkaz. 
        </header>

        <section>
            <a href="http://97420.w20.wedos.ws/sign/aktivUser?activCode={$activCode}">Dokončit registraci</a> 
        </section>
    </body>
</html>