{* Latte template *}

{block content}
<header>
    <nav>
        <a n:href="Clanky:default">Zpátky</a>
    </nav>  
</header>

<article>
    <header>
        <h1>{$clanek->nadpis}</h1>
    </header>
    <p>
        {$clanek->datum|date:'F j, Y'}
    </p>
    <div class="post">
        {!$clanek->text}
    </div>
</article>