{* Latte template *}

{block content}

<article>
    <header class="obsah">
        {$clanek->nadpis}
    </header>
    <p>
        {$clanek->datum|date:'F j, Y'}
    </p>
    <div class="post">
        {!$clanek->text}
    </div>
</article>