{* Latte template *}

{block content}
<header>
    <nav>
            <a n:href="Clanky:default">Zpatky</a>
    </nav>  
</header>

<article>
    <header>
        {$clanek->nadpis}
    </header>
    <p>
        {$clanek->datum|date:'F j, Y'}
    </p>
    <div class="post">
        {!$clanek->text}
    </div>
</article>