/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.4.2015, 10:30:29
    Author     : Krystof
*/

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    background: whitesmoke;
    text-align: center;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    margin: 0px;
    font-size: 20px;
}

header{
    color: black;
    background-image: url(../images/head1.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-weight: bold;
    height: 250px;
}

nav{
    padding: 20px;
    text-align: right;
    padding-top: 75px;
    padding-left: 500px;

}

a {
    border: 2px solid;
    border-radius: 15px; 
    font-size: 18px;
    color: darkgreen;
    padding: 5px;
    line-height: 40px;
    text-decoration:none;
    background-color: whitesmoke;
}
a:hover { 
    background-color: white;
}

section {
    background-image: url(../images/head2.png);
    background-repeat: no-repeat;
    margin: 0px;
}

section header{
    background: none; 
    height: auto;  
    width: 80%;
    margin: auto;
}

section nav {
    background: none;
    height: auto;  
    padding: 3px;
    text-align: left;
}

article{
    background-color: white;
    border-radius: 15px; 
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: left;
    margin-bottom: 15px;
}

article header {
    background: none;
    text-align: left;
    width: 100%;
    border: 0px;
    padding: 3px;
}

article header a{
    color: black;
    background: none;
    border: none;
}
article header a:hover{
    background: none;
    /*border: none;*/
}

article nav a{
    color: black;
    background: none;
    border: none;    
}

article nav a:hover{
    background: none;
    /*border: none;*/
}

article p {
    padding-left: 8px;
}

article.produkt{
    padding-top: 0px;
    width: 35%;
    display: inline-table;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

}
article.produkt header{
    text-align: center;
    padding: 5px;
    padding-top: 0px;
}

article img.produkty {
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 8px;
}

article div.popisProdukut{
    // background-color: blue;
    // margin-left: 15%;
    margin-left: 145px;
    margin-top: -15px;
}

aside {
    padding: 15px;
    background-color: white;
    display: block;
    width: 25%;
    float: right;
    margin-right: 10%;
}

div.flash {
    position: relative;
    display: inline-block;
    text-align: left;
    color: black;
    background: #FFF9D7;
    /*border: 1px solid #E2C822;*/
    padding: 1em;
    top: 65px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 25px; 
}