body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    background: whitesmoke;
    text-align: center;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/fotka_pozadi.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

header{
    color: black;
    font-weight: bold;
    /*background-image: url(../images/head.png);*/
    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center center;
    height: 130px;
}

header nav{
    position: relative;
    top: 15px;
    text-align: center;
    /*background-image: url(../images/vlna.png);*/
    background-color: royalblue;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30px;
}

header nav a {
    display: inline-block;
    width: 150px;
    height: 30px;
    /*background-color: fuchsia;*/
    background-image: url(../images/tl_bila.png);
    background-repeat: no-repeat;
    background-position: center top;    
}

section {
    background-image: url(../images/text_pole.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 930px;
    height: auto;
}

section header{
    background-color: red;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

section header nav{
    top : 10px;
    background-color: yellow;
    text-align: left;
    height: auto;
    
}
section header nav a {
    display: inline-block;
    background-color: pink;
}

section article{
    background-color: yellowgreen;
    text-align: left;
    /*background: none;*/
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

section article header{
    text-align: center;
    background-color: brown;
    height: 30px;
    width: 100%
}


section article header.nazevProduktu{
    height: 30px;
    text-align: center;
    background: none;
}

section article.produkt{
     width: 35%;
     display: inline-table;
     margin-top: 20px;
    
}

section article img.produkty {
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 8px;

   
}
section article div.popisProdukut{
   // background-color: blue;
   // margin-left: 15%;
     margin-left: 145px;
     margin-top: -15px;
}

footer {
    color: white;
    font-weight: bold;
}


.login{
    position: relative;
    height: 30px;
    float: right;
    width: 220px;
}


div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    /*margin: 1em 0;*/
    position: relative;
    top: 15px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
}

a , a:visited {
    top: 7px;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}
/* selected link */
a:active {
    color: aqua;
}

#frm-signInForm-email { width: 150px}
#frm-signInForm-heslo{ width:  150px}

