body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
    background: whitesmoke;
    text-align: center;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

a , a:visited {
    top: 7px;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}
/* selected link */
a:active {
    color: aqua;
}

header{
    color: black;
    font-weight: bold;
    background-image: url(../images/head.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 130px;
}

header.obsah{
    position: relative;
    top: 30px;
    text-align: center;
    background: none;
    height: 60px;
}

nav{
    position: relative;
    top: 15px;
    text-align: center;
    /*background-color: yellow;*/
    /*background-image: url(../images/vlna.png);*/
    background-repeat: no-repeat;
    background-position: center center;
    height: 30px;
}

nav a {
    display: inline-block;
    width: 150px;
    height: 30px;
    /*background-color: fuchsia;*/
    background-image: url(../images/tl_bila.png);
    background-repeat: no-repeat;
    background-position: center top;    
}

article{
    position: relative;
    left: 5%;
    text-align: left;
    background: none;
    width: 90%;
    height: auto;
}

article nav{
    text-align: left;
    background: none;
    height: auto;
}

article nav a{
    text-align: left;
    height: auto;
    width: auto;
}

#frm-signInForm-email { width: 150px}
#frm-signInForm-heslo{ width:  150px}

#container{
    background-image: url(../images/fotka_pozadi.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 661px;
}

.login{
    position: relative;
    height: 30px;
    float: right;
    width: 220px;
}


div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

table {
    text-align: center;
}

section {
    background-image: url(../images/text_pole.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
    height: 620px;
}

footer {
    color: white;
    font-weight: bold;
}
